body{
    background:lightgrey;
    width: 100%;
}

nav{
    position: sticky;
}

#centre{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
}

.home{
    height: 56px;
    width: 100px;
    position:absolute;
    right: 0;
}

.nav{
    background: gray;
}

.col-align-self-end{
    text-align:center;
    background:gray;
    color:white;
    font-size: 40px;
}

canvas{
    margin-left: auto;
    margin-right: auto;
}

footer{
    background: lightgrey;
}

#augmentation{
    /* width:18%; */
    font-size:35px;


}

button{
    width: 300px;
}



