.nav-item{
    border-left : 2px solid white;

}

.square {
    float: left;
    position: relative;
    height: calc(25vw - 3rem);
    overflow: hidden;
}

.nolink{
    text-decoration: none !important;
    color: inherit !important;
}

.bg-theme1{
    background: #330136;
    color: #FF5E35!important;
    box-shadow: 1px 1px 12px #555;
    opacity: 0.9;
}
.bg-theme2{
    background: #5E1742;
    color: #C9463D!important;
    box-shadow: 1px 1px 12px #555;
    opacity: 0.9;
}
.bg-theme3{
    background: #962E40;
    color: #330136!important;
    box-shadow: 1px 1px 12px #555;
    opacity: 0.9;
}
.bg-theme4{
    background: #C9463D;
    color: #330136!important;
    box-shadow: 1px 1px 12px #555;
    opacity: 0.9;
}
.bg-theme5{
    background: #FF5E35;
    color: #330136!important;
    box-shadow: 1px 1px 12px #555;
    opacity: 0.9;
}