.HomeDesert {
    position : absolute ;
    width : 100% ;
    height: 100% ;
    background: transparent url(/img/desert.jpg) center/cover no-repeat;
    transition: filter .8s;
}


#HomeDesert2 {
    position : absolute ;
    width: 100% ;
    margin-top: 2em ;
    text-align: center;
    z-index:2 ;

    font-size : 6em;
    font-weight: bold;
    color : black;
    text-decoration: none ;
}


a#HomeDesert2:hover~.HomeDesert {
    filter : blur(4px) ;
}