body{
  background:lightgrey;
}

#centre{
    width: 853.333px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: gray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:250px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: black;
  }

  .home{
      height: 56px;
      width: 100px;
      position:absolute;
      right: 0;
  }

  .nav{
      background: gray;
  }

  .col-align-self-end{
    text-align:center;
    background:gray;
    color:white;
    font-size: 40px;
    width: 25%;
    margin-left:750px;
    margin-top:100px;
  }

  footer{
    background: lightgrey;
  }

  #augmentation{
    width:18%;
    font-size:35px;
    margin-left:850px;
    margin-top:0;
  }

  button{
    width: 300px;
  }

